
@{
    Layout = null;
}
@model List<MVCJQuerySortable.Models.Ninja>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>Index</title>
    <script>
        $(function () {
            $("#sortable").sortable({
                stop: function (event, ui) {
                    neworder = new Array();
                    $('#sortable li').each(function () {
                        //get the id
                        var id = $(this).attr("id");
                        neworder.push(id);
                        
                    });
                    console.log(neworder)
                }


            });
            $("#sortable").disableSelection();
        });
    </script>
</head>
<body>
    <div>
        <ul id="sortable">
            @foreach (var item in Model)
            {
                <li id="@item.ID">@item.Name</li>
            }
        </ul>
    </div>
</body>
</html>
